
.divider {
    background: rgb(63,94,251);
    background: linear-gradient(9deg, rgba(63,94,251,1) 5%, rgba(252,70,107,1) 93%);
}

.textgradient {
color: rgb(131, 89, 160);

}

.gradient-text {
    background-color: #f3be78;
    background-image: linear-gradient(#7895f3, #c74bac);
    /* background-image: conic-gradient(#f3ec78, #af4261); */
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradient-text-right {
  background-color: #f3be78;
  background-image:radial-gradient( #c74bac,#7895f3);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.shortCardx {
    -ms-flex-align: center;
    /* width: 90rem; */
    height: fit-content;
    background: rgb(70, 73, 87);
}

  .reverseshadow {
    box-shadow: 0px 0rem 1rem #9E9E9E !important;
  }


  
  /* image color change */
  .imghome{
    filter: blur(2px);
    filter: contrast(200%);
    filter: grayscale(80%);
    filter: hue-rotate(160%);
    filter: saturate(200%);
    filter:sepia(100%);
    filter: brightness(70%)
  }
  .imgalign{
    align-content: normal;
  }
  
  
  
  /* Home--- Accordian movement------Home  */
  .coll {
    flex: 1 0;
    /* transform:translateZ(0) ; */
    transition: 1.5s ease-out;
}

  .coll:hover{
    flex: 8 0;
  }

  .horizontalplane{
    height: 75vh;
  }


/* dropdown mitts and dice  */

.collapse {
  &:not(.show) {
    display: none;
  }
}

.ddbtn {
  font-weight: bold;
  font-size: large;
  background-color: black;
  border-radius: 0.375rem ;
}


/* visual background */
.bg-patone{
  background-color: #ccd2ff;
  opacity: 1;
  background-image: linear-gradient(to right, #ffffff, #ffffff 12px, #ccd2ff 12px, #ccd2ff );
  background-size: 24px 100%;
}

.bg-pattwo{
  background-color: #ffeaff;
  opacity: 1;
  background-image:  linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77);
  background-size: 48px 84px;
  background-position: 0 0, 0 0, 24px 42px, 24px 42px, 0 0, 24px 42px;
}

.bg-patthree{
  opacity: 1;
  background-image: linear-gradient(0deg, #d5ffdc 50%, #ffffff 50%);
  background-size: 24px 24px;
}

.testingtext{
  font-weight: bold;
  outline-color: black;
  color: black;
}

/* about me  */

.aboutme-pic{
  /* min-height: auto;
  min-width: none; */
  max-height: 40rem;
  max-width: fit-content;
}


/* 
under construction picture
https://i.imgur.com/zwaEM8V.jpeg
 */