
.divider {
    background: rgb(63,94,251);
    background: linear-gradient(9deg, rgba(63,94,251,1) 5%, rgba(252,70,107,1) 93%);
}

.textgradient {
color: rgb(131, 89, 160);

}

.gradient-text {
    background-color: #f3be78;
    background-image: linear-gradient(#7895f3, #c74bac);
    /* background-image: conic-gradient(#f3ec78, #af4261); */
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.shortCardx {
    -ms-flex-align: center;
    /* width: 90rem; */
    height: fit-content;
    background: rgb(70, 73, 87);
}

  .reverseshadow {
    box-shadow: 0px 0rem 1rem #9E9E9E !important;
  }


  
  /* image color change */
  .imghome{
    filter: blur(2px);
    filter: contrast(200%);
    filter: grayscale(80%);
    filter: hue-rotate(160%);
    filter: saturate(200%);
    filter:sepia(70%);
    filter: brightness(70%)
  }
  .imgalign{
    align-content: normal;
  }
  
  
  
  /* Home--- Accordian movement------Home  */
  .col {
    flex: 1 0;
    transform:translateZ(0) ;
    transition: 1.5s ease-out;
}


  .col:hover{
    flex: 8 0;
  }

  .horizontalplane{
    height: 75vh;
  }


    /* Home--- Background images------Home  */

/* 
    .accone {
      background-image: url("paper.gif");
      background-color: #cccccc;
     } */